/* General styles */

body {
    background-color: #ADD3E6;
}

.button {
    background-color: #6B9776;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    margin-right: 10px;
}

.story-link {
    text-decoration: none;
    color: #062D46;
}

.pag-link {
    color: white;
}

.social-icons {
    color: white;
}

/* How to keep your footer where it belongs */

#page-container {   
    position: relative; /* This is the reference point to the footer */
    min-height: 100vh; /* The element will always be at least as high as the whole window */
}

#content-wrap {
    padding-bottom: 70px; /* Footer height */
  }

#footer {   
    position: absolute; /* The element will be absolutely positioned in relation to its closest parent element */
    bottom: 0; /* Keep the footer at the bottom of the page */
    width: 100%; /* The footer will extend across the full width of the page */
    height: 70px; /* Footer height */
}
