{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- story_list.html content starts here -->
<div class="container-fluid">
    <div class="row">

        <img src="{% static 'img/hero_image_1.webp' %}">

        <!-- Story Entries Column -->
        <div class="col-12 mt-4 left">
            <div class="row">
                {% for story in story_list %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                                <h2 class="card-title">{{ story.title }} | {{ story.author }}</h2>
                                <p class="card-text">{{ story.excerpt }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


</div>

{% endblock %}