{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- This block contains the main content -->
<div class="container-fluid">
    <div class="row">

        <img src="{% static 'img/hero_image_1.webp' %}" alt="A man running in the Alps">

        <div class="col-12 mt-4 left">
            <div class="row">
                {% for story in story_list %}
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <a href="{% url 'story_detail' story.slug %}" class="story-link">
                                <!-- Display the story title and author -->
                                <h2 class="card-title">{{ story.title }} | {{ story.author }}</h2>
                                <!-- Display a brief excerpt of the story -->
                                <p class="card-text">{{ story.excerpt }}</p>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Pagination links for navigating between pages -->
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="button">
            <a href="?page={{ page_obj.previous_page_number }}" class="pag-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li class="button">
            <a href="?page={{ page_obj.next_page_number }}" class="pag-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- End of main content block -->
{% endblock %}